:root {
    --primary:rgb(48, 47, 58);
    --secondary:rgb(168, 208, 216);
    --tertiary: rgb(80, 79, 95);
    --standard-px: 48px;
    --shadow: rgba(228, 203, 15, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


/* Style Nav Section - Start */
.top {
    display: flex;
    flex-direction: column;
}

.name {
    color: rgba(255, 217, 0, 1);
    margin: 20px;
    font-size: var(--standard-px);
    font-weight: unset;
    text-shadow: 0 0 20px rgba(228, 203, 15, 0.767);
}

header {
    height: 100px;
    width: 100%;
    display: flex;
    /* flex-wrap: nowrap; */
    /* flex-shrink: 1; */
    background: var(--primary);
    justify-content: space-between;
}

header h1 {
    flex-shrink: 1;
    /* flex-wrap: nowrap; */
}

header nav {
    /* display: flex; */
    flex-shrink: 1;
    /* flex-wrap: nowrap; */
    
}

header nav ul {
    display: flex;
    /* flex-direction: column; */
    /* flex-shrink: 1; */
    margin: 10px;
    /* margin-right: 50px; */
    padding: 10px;
    justify-content: space-around;
    list-style: none;
    /* align-items: center; */
}

header nav ul li {
    padding: 10px;
}

header nav ul li a {
    color: var(--secondary);
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0 0 20px var(--shadow);
    padding: 5px;
    margin: 15px;
}

header nav ul li a:hover {
    background-color: rgba(255, 217, 0, 0.74);
    font-weight: bold;
    color: var(--primary);
    border-radius: 10px;
}

.second-background {
    display: flex;
    justify-content: right;
    height: 250px;
    background-image: url(../images/second-background.jpg);
    background-repeat: round;
    margin-bottom: 20px; 
}

.me-img {
    position: absolute;
    top: 100px;
    left: 115px;
    width: 209px;
}

.me-img img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

body {
    background-color: rgb(225, 225, 245);
}
/* Style Nav Section - End */


/* Style About Section - Start */
.desc {
    display: flex;
    margin-bottom: 20px;
  }

.bodies {
    padding: 0 70px 0 30px;
    border-left: 4px solid var(--tertiary);
    width: 80%;
}

.headings {
    min-width: 20%;
    width: 20%;
    padding-right: 20px;
    padding-left: 20px;
    /* text-shadow: 0 0 10px rgba(99, 46, 46, 0.5); */
    text-shadow: 0 0 10px var(--shadow);
}

.about p {
    color: rgb(85, 84, 104);
    font-weight: bold;
}

h2 {
    font-size: var(--standard-px);
    color: var(--tertiary);
    text-align: right;
}
/* Style About Section - End */


/* Style Work Section - Start*/
.work {
    display: flex;
    margin-bottom: 20px;
}

.pics {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-right: 70px;
}

.main-img {
    display: flex;
    flex-direction: column;
}

.label {
    text-decoration: none;
    text-align: center;
    color: var(--primary);
    font-weight: bold;
    margin-bottom: 5px;
}

.main-img img{
    width: 100%;
    border: 5px solid var(--secondary);
}

.add-img {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.add-img div {
    display: flex;
    max-width: 49%;
    margin: 10px 0 10px 0;
    flex-direction: column;
}

.add-img img {
    max-width: 100%;
    border: 5px solid var(--secondary);
}

/* Style Work Section - End */


/* Style contact section - Start */
footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;   
    margin-bottom: 20px;  
}

.contact-list {
    height: 100px;    
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    color: var(--primary);
}

.contact-list a, .contact-list span {
    font-size: large;
    text-decoration: none;
    color: var(--primary);
    padding: 10px;    
    flex-shrink: 2
}

.contact-list a:hover, .contact-list span:hover {
    background-color: rgba(0, 0, 0, 0.425);
    color: rgb(255, 238, 0);
    border-radius: 10px;
    text-decoration-line: underline;
}

.contact-list span:hover {
    text-decoration: none;
}
/* Style contact section - End */



/* Add RWD styling */
@media screen and (max-width: 980px) {
    header {
        text-align: center;
        height:auto;
        justify-content: center;
        background-image: url(../images/second-background.jpg);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .name {
        padding: none;
        background: none;
        color: var(--secondary);
        text-shadow: var(--shadow);
    }

    .second-background {
        height: 0px;
    }

    header nav ul {
        display: flex;
        margin: 0;
        padding: 10px;
        justify-content: space-around;
        list-style: none;
        align-items: center;    
    }

    .me-img {
        position: unset;
        align-self: center;
        margin-top: 10px;
        width: unset;
        
    }

    .me-img img {
        border: 3px solid black;
        max-width: 350px;
    }

    .desc, .work, footer {
        flex-direction: column;
        align-items: center;
    }

    .headings {
        width: unset;
        padding: none;
        border-bottom: 3px solid var(--primary);
    }

    .about, .about p {
        width: unset;
    }

    .bodies {
        width: unset;
        border: none;
        padding: 50px;
        margin: 0;
    }

    .contact-list div a {
        border: none
    }

    .main-img, .add-img {
        flex-direction: column;
        padding: 20px;
    }

    .add-img div {
        max-width: unset;
    }

    .contact-list a:hover, .contact-list div span:hover {
        background-color: rgba(0, 0, 0, 0.425);
        color: rgb(255, 238, 0);
        border-radius: 10px;
        text-decoration-line: underline;
    }

    .contact-list div span:hover {
        text-decoration: none;
        display: inline-block;
    }
}

@media screen and (max-width: 600px) {
    header nav ul {
        flex-direction: column;
    }

    .contact-list {
        flex-direction: column;
    }
    .contact {
        margin: 5px
    }
}